{{> views/partials/head-tag }}
{{> views/partials/script-tag }}

<body>
    {{> views/partials/header }}
    <div class="mainbox">
        <div class="div_404">
            <div class="div_4">4</div>
            <div class="div_spinner">
                <i class="far fa-question-circle fa-spin"></i>
            </div>
            <div class="div_4">4</div>
        </div>
        <div class="msg">
            <h3>URL not found</h3>
            <div class="home_btn" onclick="onHomeClick();">Go to home</div>
        </div>
    </div>
    {{> views/partials/footer }}
</body>