{{> views/partials/head-tag }}

<script>
    let loader, submitBtn, title, input;

    function startLoading() {
        loader.style.display = "block";
        submitBtn.style.display = "none";
    }

    function stopLoading() {
        loader.style.display = "none";
        submitBtn.style.display = "block";
    }

    function onBtnClick(){
        const password = document.querySelector(".pass").value;
        if (password?.length >= 8) {
            const baseURL = "{{{BaseURL}}}";
            const signature = `{{{Signature}}}`;

            startLoading();

            fetch(`${baseURL}/password-check`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    signature,
                    password,
                }),
            })
                .then(async (res) => ({
                    body: await res.json(),
                    status: res.status,
                }))
                .then((res) => {
                    if (res.status === 200) {
                        return location.replace(res.body.url);
                    } else if (res.status === 400) {
                        alert(res.body?.message);
                    } else if (res.status === 401) {
                        alert("Wrong Password");
                    } else {
                        alert("Internal Error");
                    }
                    input.value = "";
                })
                .catch(console.error)
                .finally(stopLoading);
        } else {
            alert("Password Length should be greater then equals to 8");
        }
    };

    window.onload = () => {
        loader = document.querySelector("#loading");
        submitBtn = document.querySelector("#submit_btn");
        title = document.querySelector(".title");
        input = document.querySelector(".pass");

        const url = window.location.href;
        title.innerHTML = url;
        loader.style.display = "none";
    };
</script>

<body>
    {{> views/partials/header }}
    <div class="mainbox">
        <h2 class="title"></h3>
        <h3>Enter the password</h3>
        <div class="input">
            <input placeholder="Password" class="pass" type="password" />
        </div>
        <button id='submit_btn' class="home_btn" onclick="onBtnClick();">Go</button>
        <div class='home_btn' id="loading">
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
    </div>
    {{> views/partials/footer }}
</body>