{{> views/partials/head-tag }}
{{> views/partials/script-tag }}

<body>
    {{> views/partials/header }}
    <div class="mainbox">
        <div class="msg">
            <h1>Internal Server Error</h1>
            <h4>Some error has occured at server side</h4>
            <div class="home_btn" onclick="onHomeClick()">Go to home</div>
        </div>
    </div>
    {{> views/partials/footer }}
</body>