<head>
    <script src="https://kit.fontawesome.com/71913be857.js" crossorigin="anonymous"></script>
    <link href="/static/styles.css" rel="stylesheet" />
    <title>Shorty URLs</title>
    <link rel="icon" href="/static/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
